<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloggers Point</title>
</head>
<body>
    <div class="title-container">
        <div class="container-fluid">
            <h1> <%= data[id].title %></h1>
        </div>
    </div>

    <div class="content-container">
        <div class="container-fluid">
            <p>
               <%= data[id].text%>
            </p>
        </div>
    </div>
</body>
</html>